body {
  display: block;
}

.container {
  position:relative;
  height:410px;
  width: 838px;
  background-color: blue;
  margin: auto;
}

.leftBody {
  width: 300px;
}

.rightBody {
  float:right;
}

header {
  top:0 ;
  background: #fff;
  height: 46px;
  width: 100%;
  display: inline-block;
}

.head2 {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.head1 {
  display: inline-block;
  float: left;
  margin-left: 20px;
}

footer {
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    display: inline-block;
    width: 100%;
    background-color: green;
}

li {
  display: inline-block;
  float: inherit;
}
